---
import "../styles/app.css";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/astro-lab/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title && title}</title>
    </head>
    <body>
        <a href="/astro-lab">Home</a>
        <a href="/astro-lab/about">About</a>
        <a href="/astro-lab/blog">Blog</a>
        <a href="/astro-lab/test">Test</a>
        <a href="/astro-lab/react">React</a>
        <h1>{title && title}</h1>
        <slot />
    </body>
</html>
